.add-student-card {
  width: 500px;
  margin: auto;
}

.add-student-card .Buttant-btn .ant-btn-primaryon {
  width: 500px;
  margin: auto;
  text-align: left;
}

.view-student-card {
  width: 90%;
  margin: auto;
}

.edit-student-card {
  width: 500px;
  margin: auto;
}

.edit-student-card:hover {
  transform: scale(1.01);
}

.add-student-card:hover {
  transform: scale(1.01);
}

.ant-row {
  text-align: center;
}

.add-student-form .ant-col .ant-form-item-control-input {
  text-align: left !important;
}

.edit-student-form .ant-col .ant-form-item-control-input {
  text-align: left !important;
}

.ant-form-item-label {
  text-align: left;
}

.site-layout-content {
  min-height: 80vh;
  height: fit-content;
}

.student-table tbody tr:hover {
  transform: scale(1.01);
}
